@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700,600');

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  outline: 0;
  width:100%; 
  font: 1rem 'Titillium Web';
  border: 0;
  padding: 0.8rem;
  background: #f5f5f5;
  border-radius: 0.3rem;
  text-align: center;
  box-sizing: border-box;
  box-shadow: rgb(212, 208, 208) 2px 2px;
}

button {
  padding: 2% 5%;
  background-color: #f5f5f5;
  border-radius: 0.3rem;
  outline: 0;
}

input:first-of-type {
  margin-bottom: 5px;
}

h2 {
  font-size:2rem;
}

h2:first-of-type {
  margin-bottom: 0;
}

